<style>
    .banner {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        min-height: inherit;
    }

    .banner-text {
        display: none;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .creative .container li {
        list-style: disc;
        margin: 6px 24px;
        list-style: disc;
    }

    li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        /* padding: 14px 16px; */
        text-decoration: none;
    }

    li.dropdown {
        display: inline-block;
        z-index: 999;
    }

    .dropdown-content {
        border-radius: 5px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        border-radius: 5px;
        background-color: #ededed
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style> <!--End Header --> $desc_long <!--Footer -->
$designAttribute:masterD_no_sidebar